:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Add your global CSS rules here */

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #007bff, #0056b3);
}

.price-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  text-align: left;
  border-radius: 20px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.price {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
  color: black;
}

.features {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  color: black;
}

.plan-title {
  color: navy;
  font-weight: bold;
}

.unavailable {
  font-weight: bold;
  margin: 10px 0;
}

.unavailable-options {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  color: lightgray;
}

.buy-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #0056b3;
}
